* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid black;

  li {
    list-style: none;
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .macro-container {
    width: 100%;
  }

  .container {
    width: 1300px;
    margin: 0 auto;
    border: 5px solid red;
  }

  .skinny-container {
    width: 50%;
    margin: 0 auto;
  }
}
